<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.alunev.android.yagr"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="5"/>

    <!-- <permission android:name="android.permission.ACCOUNT_MANAGER"/> -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".activity.MainActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.WelcomeActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="com.alunev.yagr.intent.action.WELCOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.AuthSuccessActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="com-alunev-android-yagr-android-app"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.FeedsActivity">
            <intent-filter>
                <action android:name="com.alunev.yagr.intent.action.FEEDS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <service android:name=".service.ReaderService">
        </service>
</application>
</manifest>